<div class="ui-g">
  <div class="ui-g-12 ui-md-6 ui-md-offset-3 ui-lg-8 ui-lg-offset-2">
    <h1 class="registerTitle"> Registrazione Utente </h1>
  </div>
  <div class="ui-g-12 ui-md-3 ui-lg-2" style="text-align: right">
    <button type="submit" pButton class="ui-button-info" (click)="goToLogin()" label="Torna alla Login"></button>
  </div>
</div>

<div class="ui-g">
  <div class="ui-g-12">
    <p-panel header="Anagrafica Utente">
      <div class="ui-g" style="padding-top: 1em;">
        <div class="ui-g-12 ui-md-6 ui-lg-3" style="padding-left: 0px;">
          <span class="ui-float-label">
            <input id="float-input-firstName" type="text" size="20" [(ngModel)]="customer.firstName" pInputText>
            <label for="float-input">Nome</label>
          </span>
        </div>
        <div class="ui-g-12 ui-md-6 ui-lg-3" style="padding-left: 0px;">
          <span class="ui-float-label">
            <input id="float-input-lastName" type="text" size="20" [(ngModel)]="customer.lastName" pInputText>
            <label for="float-input">Cognome</label>
          </span>
        </div>
        <div class="ui-g-12 ui-md-6 ui-lg-3" style="padding-left: 0px">
          <span class="ui-float-label">
            <p-inputMask id="float-input-dataDiNascita" mask="99/99/9999" [(ngModel)]="customer.dataDiNascita" slotChar="__/__/____"></p-inputMask>
            <label for="float-input">Data di Nascita</label>
          </span>
        </div>
        <div class="ui-g-12 ui-md-6 ui-lg-3" style="padding-left: 0px; padding-bottom: 2em;">
          <div class="ui-inputgroup">
            <button type="button" class="maleButton" (click)='sessoCheck("MASCHIO")'><i class="fa fa-male fa-2x"
                aria-hidden="true"></i></button>
            <input id="float-input-sesso" style="text-align: center" type="text" size="12" pInputText [(ngModel)]="customer.sesso" placeholder="Sesso"
              disabled="true">
            <button type="button" class="femaleButton" (click)='sessoCheck("FEMMINA")'><i class="fa fa-female fa-2x"
                aria-hidden="true"></i></button>
          </div>
        </div>
      </div>
    </p-panel>
  </div>
</div>

<div class="ui-g">
  <div class="ui-g-12" style="padding-top: 2em;">
    <p-panel header="Credenziali Utente">
      <div class="ui-g" style="padding-top: 1em;">
        <div class="ui-g-12 ui-md-6 ui-lg-6" style="padding-left: 0px;">
          <span class="ui-float-label">
            <input id="float-input-password" promptLabel="Inserire una Password" weakLabel="semplice" mediumLabel="media" strongLabel="difficile"
              pPassword type="password" [(ngModel)]="customer.password" />
            <label for="float-input">Password</label>
          </span>
        </div>
        <div class="ui-g-12 ui-md-6 ui-lg-6" style="padding-left: 0px; padding-bottom: 2em;">
          <span class="ui-float-label">
            <input id="float-input-repeatPassword" type="text" size="20" [(ngModel)]="repeatPassword" pInputText>
            <label for="float-input">Ripeti Password</label>
          </span>
        </div>
      </div>
    </p-panel>
  </div>
</div>

<div class="ui-g">
  <div class="ui-g-12 ui-md-6 ui-md-offset-3 ui-lg-4 ui-lg-offset-4" style="text-align: center">
    <button type="submit" pButton (click)="saveCustomer()" icon="fa fa-check" label="Salva Utente" [disabled]="disableSave"></button>
  </div>
</div>
