<div style="text-align: center;">
  <h1>Richieste</h1>
</div>

<div class="ui-g-12" style="padding-bottom: 2em; height: 85em;">
  <div class="ui-g-12" style="text-align: center;">
    <div class="ui-g-2"></div>
    <div class="ui-g-8">
      <h2>Numero Di Richieste Durante L'Anno</h2>
      <p-chart type="line" [data]="dataLineRichieste"></p-chart>
    </div>
    <div class="ui-g-2"></div>
  </div>
  <div class="ui-g-6" style="padding-top: 2em; text-align: center;">
    <h2>Numero Di Richieste Per Utente</h2>
    <p-chart type="pie" [data]="dataPieRichieste"></p-chart>
  </div>
  <div class="ui-g-6" style="padding-top: 2em; text-align: center;">
    <h2>Numero Di Richieste Per Stato</h2>
    <p-chart type="polarArea" [data]="dataPolarRichieste"></p-chart>
  </div>
</div>

<div style="text-align: center;">
  <h1>Film</h1>
</div>

<div class="ui-g-12" style="padding-bottom: 2em; height: 45em;">
  <div class="ui-g">
    <div class="ui-g-6" style="padding-top: 2em; text-align: center;">
      <h2>Numero Di Film Per Formato</h2>
      <p-chart type="doughnut" [data]="dataDoughnutFilm"></p-chart>
    </div>
    <div class="ui-g-6" style="padding-top: 2em; text-align: center;">
      <h2>Numero Di Film Per Anno</h2>
      <p-chart type="bar" [data]="dataLineFilm"></p-chart>
    </div>
  </div>
</div>

<div style="text-align: center;">
  <h1>Serie TV</h1>
</div>

<div class="ui-g-12" style="padding-top: 2em; padding-bottom: 2em; height: 45em;">
  <div class="ui-g">
    <div class="ui-g-3"></div>
    <div class="ui-g-6" style="padding-top: 2em; text-align: center;">
        <h2>Numero Stagioni Per Formato</h2>
      <p-chart type="bar" [data]="dataBarSerieTV"></p-chart>
    </div>
    <div class="ui-g-3"></div>
  </div>
</div>
