.ui-button-info {
    background-color: transparent !important;
    border-color: black !important;
}

img.cerchio {
	width: 5em;
	height: 5em;
	border-radius: 50%;
    zoom: 1.4;
    background: #dfdfdf;
}