<div class="ui-grid-col-12" style="padding-top: 3em; padding-bottom: 2em;" align="center">
    <p-listbox [options]="customersItems" [(ngModel)]="selectedCustomer" (onChange)="selectSessionCustomer()" (onDblClick)="loginCustomer()"
    [style]="{'width':'25%'}" [listStyle]="{'min-height':'25%'}">
        <p-header style="padding-top: 2em">
            Esegui Accesso Come: {{selectedCustomer||''}}
        </p-header>
        <ng-template let-customer pTemplate="item">
            <div class="ui-helper-clearfix">
                <img src="assets/showcase/images/customer/{{customer.id}}.png" style="display:inline-block;margin:5px 0 0 5px" width="200">
                <span style="float:right;margin:20px 10px 0 0">{{customer.value}}</span>
            </div>
        </ng-template>
    </p-listbox>
</div>