<div align="center">
    <h1>Elenco Film</h1>
</div>

<!-- FILTRI DI RICERCA -->
<div class="ui-grid-col-12" style="padding-top: 3em;">
    <div class="ui-g">
        <div class="ui-g-3">
            <div class="label"> ID Film </div>
            <input film-input type="text" pInputText placeholder=" &#xF002; ID" [(ngModel)]="filters.idMsg" (input)="ft.filter($event.target.value, '_id', 'contains')">
        </div>
        <div class="ui-g-3">
            <div class="label"> Nome Film </div>
            <input film-input type="text" pInputText placeholder=" &#xF002; Nome" [(ngModel)]="filters.titleMsg" (input)="ft.filter($event.target.value, 'nome', 'contains')">
        </div>
        <div class="ui-g-3">
            <div class="label">Formato Film </div>
            <p-multiSelect [filter]="false" [showToggleAll]="false" [showHeader]="false" sdc-multiselect [options]="formats" [(ngModel)]="filters.format" defaultLabel=" &#xF002; Formato" (onChange)="ft.filter($event.value, 'formato', 'in')"></p-multiSelect>
        </div>
        <div film-button-third class="ui-g-3 resetButton ">
            <button pButton type="button" label="Reset Filtri" (click)="reset(ft)"></button>
        </div>
    </div>
</div>
<!-- / FILTRI DI RICERCA -->


<div class="ui-grid-col-12" style="padding-top: 3em;">
    <p-table film-table [value]="films" #ft [globalFilterFields]="['_id','title','text']">
        <ng-template pTemplate="header">
            <tr>
                <th>
                    Nome
                </th>
                <th style="width: 10em">
                    Formato
                </th>
                <th style="width: 5em">
                    Dettagli
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-film>
            <tr>
                <td>
                    {{film.nome}}
                </td>
                <td>
                    {{film.formato}}
                </td>
                <td>
                    <p-button icon="fa fa-file-video-o" (onClick)="goToFilm(film._id)"></p-button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td [attr.colspan]="cols.length+1">
                    Nessun Film Trovato
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
