<div class="ui-grid-col-12" style="padding-top: 3em;">
  <p-table film-table [value]="customers" #ct [globalFilterFields]="['_id','title','text']">
      <ng-template pTemplate="header">
          <tr>
              <th style="width: 25em">
                  ID
              </th>
              <th>
                  Nome
              </th>
              <th>
                  Cognome
              </th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-customer>
          <tr>
              <td>
                  {{customer.id}}
              </td>
              <td>
                  {{customer.firstName}}
              </td>
              <td>
                  {{customer.lastName}}
              </td>
          </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
          <tr>
              <td [attr.colspan]="cols">
                  Nessun Film Trovato
              </td>
          </tr>
      </ng-template>
  </p-table>
</div>
