<p-growl [(value)]="msgs"></p-growl>

<div class="ui-grid-col-12" *ngIf="adminMode">
  <div class="ui-g">
    <div class="ui-g-12" align="center" style="margin-bottom: -100%">
      <h1>Utenti</h1>
    </div>
    <div class="ui-g-12" align="right">
      <button type="button" pButton icon="fa fa-plus" (click)="showDialogToAdd()" label="Aggiungi Utente" style="margin-top: 1em;"></button>
    </div>
  </div>
</div>

<div align="center" *ngIf="!adminMode">
  <h1 *ngIf="customers[0]">Profilo Personale di {{customers[0].firstName}}</h1>
</div>

<div class="ui-grid-col-12" style="padding-top: 2em;" align="center">
  <p-table [columns]="cols" film-table [value]="customers" #ct [globalFilterFields]="['_id','title','text']">
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th style="width: 250px;">
          Foto
        </th>
        <th *ngFor="let col of columns">
          {{col.header}}
        </th>
        <th style="width: 7em">
          Dettaglio Richieste
        </th>
        <th style="width: 7em" *ngIf="adminMode">
          Gestione Utente
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-customer let-columns="columns">
      <tr>
        <td style="width: 250px;">
          <img src="assets/showcase/images/customer/{{customer.id}}.png" style="display:inline-block;margin:5px 0 0 5px"
            width="200">
        </td>
        <td *ngFor="let col of columns">
          {{customer[col.field]}}
        </td>
        <td>
          <p-button icon="fa fa-search" (onClick)="goToListaRichiesteCustomer(customer.firstName)"></p-button>
        </td>
        <td *ngIf="adminMode">
          <p-button icon="fa fa-wrench" (onClick)="manageUser(customer)"></p-button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td [attr.colspan]="cols.length+1">
          Nessun Utente Trovato
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<p-dialog header="Dettaglio Film" [(visible)]="displayDialog" closable="true" [responsive]="true" [modal]="true"
  [width]="900" [height]="550">
  <form name="form" #fRichieste="ngForm">
    <div class="ui-g ui-fluid" style="padding-bottom: 2em" *ngIf="customer">
      <div class="ui-g-12">
        <div class="ui-g-3">
          <label>Nome:</label>
        </div>
        <div class="ui-g-3">
          <input pInputText id="nome" name="nome" [(ngModel)]="customer.firstName" style="width: 100%" />
        </div>
        <div class="ui-g-3">
          <label>Cognome:</label>
        </div>
        <div class="ui-g-3">
          <input pInputText id="cognome" name="cognome" [(ngModel)]="customer.lastName" style="width: 100%" />
        </div>
      </div>
      <div class="ui-g-12">
        <div class="ui-g-3" *ngIf="!newCustomer">
          <label>N. Richieste:</label>
        </div>
        <div class="ui-g-3" *ngIf="!newCustomer">
          <p-spinner size="30" id="richieste" name="richieste" [(ngModel)]="customer.numeroRichieste" [max]="100" [min]="0"
            [step]="1" style="width: 100%"></p-spinner>
        </div>
        <div class="ui-g-2" *ngIf="!newCustomer">
          <label></label>
        </div>
        <div class="ui-g-4" *ngIf="!newCustomer">
          <button type="button" pButton class="ui-button-danger" icon="fa fa-eraser" (click)="resetPassword(customer)"
            label="Resetta Password"></button>
        </div>
        <div class="ui-g-3" *ngIf="newCustomer">
          <label>Password:</label>
        </div>
        <div class="ui-g-9" *ngIf="newCustomer">
          <input pInputText id="psw" name="psw" [(ngModel)]="customer.password" style="width: 100%" />
        </div>
      </div>
    </div>
    <p-footer>
      <div class="ui-dialog-buttonpane ui-helper-clearfix">
        <div class="ui-g-6" *ngIf="!newCustomer" align="center">
          <button type="button" pButton class="ui-button-danger" icon="fa fa-trash-o" (click)="delete()" label="Elimina"></button>
        </div>
        <div class="ui-g-12" *ngIf="newCustomer" align="center">
          <button type="submit" pButton class="ui-button-success" icon="fa fa-check" (click)="save()" label="Salva"></button>
        </div>
        <div class="ui-g-6" *ngIf="!newCustomer" align="center">
          <button type="submit" pButton class="ui-button-success" icon="fa fa-upload" (click)="save()" label="Aggiorna"></button>
        </div>
      </div>
    </p-footer>
  </form>
</p-dialog>

<p-confirmDialog #cd>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <div class="ui-g-3">
        <button type="button" pButton icon="pi pi-times" label="No" (click)="cd.reject()" align="right"></button>
      </div>
      <div class="ui-g-6"></div>
      <div class="ui-g-3">
        <button type="button" pButton icon="pi pi-check" label="Si" (click)="cd.accept()" align="left"></button>
      </div>
    </div>
  </p-footer>
</p-confirmDialog>
