<div align="center" *ngIf="adminMode">
    <h1>Utenti</h1>
</div>

<div align="center" *ngIf="!adminMode">
        <h1>Profilo Personale di {{customers[0].firstName}}</h1>
    </div>

<div class="ui-grid-col-12" style="padding-top: 2em; padding-bottom: 3em;">
    <p-table [columns]="cols" film-table [value]="customers" #ct [globalFilterFields]="['_id','title','text']">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th style="width: 250px;">
                    Foto
                </th>
                <th *ngFor="let col of columns">
                    {{col.header}}
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-customer let-columns="columns">
            <tr>
                <td style="width: 250px;">
                    <img src="assets/showcase/images/customer/{{customer.id}}.png" style="display:inline-block;margin:5px 0 0 5px" width="200">
                </td>
                <td *ngFor="let col of columns">
                    {{customer[col.field]}}
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td [attr.colspan]="cols.length+1">
                    Nessun Utente Trovato
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>