<p-growl [(value)]="msgs"></p-growl>


<div *ngIf="showCustomerDetails" align="center">

  <div class="ui-g-12">
    <h1>
      Utente: {{customer[0].firstName}} {{customer[0].lastName}}
    </h1>

    <p-dataView #dv [value]="customer" [rows]="20">
      <ng-template let-user pTemplate="listItem">
        <div class="ui-g-12">
          <div class="ui-g-3" style="text-align:center">
            <img src="../../assets/showcase/images/customer/{{customer[0].id}}.png" style="width: 70%;">
          </div>
          <div class="ui-g-9">
            <div class="ui-g-3"></div>
            <div class="ui-g-3"></div>
            <div class="ui-g-3"></div>
            <div class="ui-g-3"></div>

            <div class="ui-g-2">Nome: </div>
            <div class="ui-g-2"><b>{{user.firstName}}</b></div>

            <div class="ui-g-2">Cognome: </div>
            <div class="ui-g-2"><b>{{user.lastName}}</b></div>

            <div class="ui-g-3"></div>
            <div class="ui-g-3"></div>
            <div class="ui-g-3"></div>

            <div class="ui-g-2">N. Richieste: </div>
            <div class="ui-g-2"><b>{{user.numeroRichieste}}</b></div>

            <div class="ui-g-2">Tipo Utente: </div>
            <div class="ui-g-2" *ngIf="normalUser"><b>Utente Base</b></div>
            <div class="ui-g-2" *ngIf="adminCheck"><b>Admin</b></div>

            <div align="center" style="padding-top: 2em; padding-bottom: 2em" *ngIf="!showChangePassword">
              <button type="button" pButton class="ui-button-info" icon="fa fa-pencil-square-o" (click)="showChangePassword = true;"
                label="Modifca Password"></button>
            </div>

            <div align="center" style="padding-top: 2em; padding-bottom: 2em" *ngIf="showChangePassword">
              <button type="button" pButton class="ui-button-info" icon="fa fa-times" (click)="showChangePassword = false;"
                label="Annulla Modifca"></button>
            </div>
          </div>
          <div class="ui-g-12" *ngIf="showChangePassword" align="center">
            <form name="form" #fRichieste="ngForm">
              <div class="ui-g-4">
                  <div class="label">Password Attuale:</div>
                <input pInputText id="psw" name="psw" type="password" [(ngModel)]="customerPassword" style="width: 65%" />
              </div>
              <div class="ui-g-4">
                <div class="label">Nuova Password:</div>
                <input pInputText id="newPsw" name="newPsw" type="password" [(ngModel)]="newCustomerPassword" style="width: 65%" />
              </div>
              <div class="ui-g-4">
                  <div class="label">Conferma Nuova Password:</div>
                <input pInputText id="repeatedNewPsw" name="repeatedNewPsw" type="password" [(ngModel)]="repeatedNewCustomerPassword" style="width: 65%" />
              </div>
              <div align="center" style="padding-top: 6em" *ngIf="showChangePassword">
                <button type="submit" [disabled]="!customerPassword || !newCustomerPassword || !repeatedNewCustomerPassword"
                  pButton class="ui-button-success" icon="fa fa-check" (click)="saveNewPassword()" label="Cambia Password"></button>
              </div>
            </form>
          </div>
        </div>
      </ng-template>
    </p-dataView>
  </div>

  <p-confirmDialog #cd [width]="700">
    <p-footer>
      <div class="ui-dialog-buttonpane ui-helper-clearfix">
        <div class="ui-g-3">
          <button type="button" pButton icon="pi pi-times" label="No" (click)="cd.reject()" align="right"></button>
        </div>
        <div class="ui-g-6"></div>
        <div class="ui-g-3">
          <button type="button" pButton icon="pi pi-check" label="Si" (click)="cd.accept()" align="left"></button>
        </div>
      </div>
    </p-footer>
  </p-confirmDialog>

</div>
