.ui-table-thead {
    tr{
        th {
        background: #004990;
        color: white;
        }
    }
}
.ui-table-tbody{
    tr{
      td{
        text-align: center;
        color: black;

        &.action-column{
          width: 2.1em;
          padding-right: 0 !important;
          padding-left: 0 !important;
      }

      div.ui-chkbox {
        vertical-align: bottom;
      }

      }
    }
  }
  .ui-table-tfoot {
    tr{
      td {
        background: black;
        color: white;
      }
    }
  }

  .label {
    color: #004990;
    font-family: "lato";
    font-size: 13px;
    font-weight: 600;
    line-height: 15px;
    padding-bottom: 5px;
    &.labelRed{
      color: red;
    }
  }

  [sdc-input]{
    font-size: 16px;
    height: 32px;
    width: 85%;
    max-width: 240px;
    border: 1px solid darkgrey;
    border-radius: 2px;
    box-sizing: border-box;
    color: #000000;
    font-family: 'Lato', sans-serif, FontAwesome !important;
    &.ui-inputtext:enabled:hover {
      border-color: darkgray;
    }
  }