<p-growl [(value)]="msgs"></p-growl>

<div class="ui-grid-col-12">
  <div class="ui-g">
    <div class="ui-g-10" align="center" style="padding-left: 20em;">
      <h1>Gestione Film</h1>
    </div>
    <div class="ui-g-2">
      <button type="button" pButton icon="fa fa-plus" (click)="showDialogToAdd()" label="Aggiungi Film" style="margin-top: 1em;"></button>
    </div>
  </div>
</div>

<!-- FILTRI DI RICERCA -->
<div class="ui-grid-col-12" style="padding-top: 1em;" align="center">
  <div class="ui-g">
    <div class="ui-g-4" style="padding-left: 10%;">
      <div class="label"> Nome Film </div>
      <input film-input type="text" pInputText placeholder=" &#xF002; Nome" [(ngModel)]="filters.titleFilm" (input)="rt.filter($event.target.value, 'nome', 'contains')">
    </div>
    <div class="ui-g-4">
      <div class="label">Formato Film </div>
      <p-multiSelect [filter]="false" [showToggleAll]="false" [showHeader]="false" sdc-multiselect [options]="formats"
        [(ngModel)]="filters.format" defaultLabel=" &#xF002; Formato" (onChange)="rt.filter($event.value, 'formato', 'in')"></p-multiSelect>
    </div>
    <div film-button-third class="ui-g-4 resetButton" align="center" style="padding-right: 5%;">
      <button pButton type="button" label="Reset Filtri" (click)="reset(rt)" style="margin-top: 14px;"></button>
    </div>
  </div>
</div>

<div class="ui-grid-col-12" style="padding-top: 1em;" align="center">
  <p-table [columns]="cols" #rt [value]="films" selectionMode="single" [(selection)]="filmSelezionato" (onRowSelect)="onRowSelect($event)"
    [rows]="50">
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns">
          {{col.header}}
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr [pSelectableRow]="rowData">
        <td *ngFor="let col of columns">
          {{rowData[col.field] ? rowData[col.field] : '-'}}
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td [attr.colspan]="cols.length">
          Nessun Film Trovato
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      Film Torvati: {{this.rt.filteredValue ? this.rt.filteredValue.length : this.rt.totalRecords }}
    </ng-template>
  </p-table>
</div>

<p-dialog header="Dettaglio Film" [(visible)]="displayDialog" closable="true" [responsive]="true" [modal]="true"
  [width]="900" [height]="550" [positionTop]="50">
  <form name="form" #fRichieste="ngForm">
    <div class="ui-g ui-fluid" *ngIf="film" style="padding-bottom: 2em">
      <div class="ui-g-12">
        <div class="ui-g-3">
          <label>Titolo Film</label>
        </div>
        <div class="ui-g-9">
          <input pInputText id="titolo" name="titolo" [(ngModel)]="film.nome" style="width: 100%" />
        </div>
      </div>
      <div class="ui-g-12">
        <div class="ui-g-3">
          <label>Formato Film</label>
        </div>
        <div class="ui-g-9">
          <p-dropdown [options]="formats" id="formato" name="formato" [(ngModel)]="film.formato"></p-dropdown>
        </div>
      </div>
      <div class="ui-g-12">
        <div class="ui-g-3">
          <label>Audio</label>
        </div>
        <div class="ui-g-3">
          <input pInputText id="audio" name="audio" [(ngModel)]="film.linguaAudio" style="width: 100%" />
        </div>
        <div class="ui-g-3">
          <label>Sottotitoli</label>
        </div>
        <div class="ui-g-3">
          <input pInputText id="subtitle" name="subtitle" [(ngModel)]="film.linguaSottotitoli" style="width: 100%" />
        </div>
      </div>
      <div class="ui-g-12">
        <div class="ui-g-3">
          <label>Anno Film</label>
        </div>
        <div class="ui-g-3">
          <p-inputMask id="anno" name="anno" mask="9999" [(ngModel)]="film.anno" slotChar="AAAA"></p-inputMask>
        </div>
        <div class="ui-g-3" align="center">
          <label>Url Locandina:</label>
        </div>
        <div class="ui-g-3">
          <input pInputText id="url" name="ulr" [(ngModel)]="film.urlLocandina" style="width: 100%" />
        </div>
      </div>
      <div class="ui-g-12">
        <div class="ui-g-3">
          <label>Trama:</label>
        </div>
        <div class="ui-g-9">
          <textarea rows="3" id="trama" name="trama" pInputTextarea [(ngModel)]="film.trama"></textarea>
        </div>
      </div>
    </div>
    <p-footer>
      <div class="ui-dialog-buttonpane ui-helper-clearfix">
        <div class="ui-g-6" *ngIf="!newFilm" align="center">
          <button type="button" pButton class="ui-button-danger" icon="fa fa-trash-o" (click)="delete()" label="Elimina"></button>
        </div>
        <div class="ui-g-12" *ngIf="newFilm" align="center">
          <button type="submit" pButton class="ui-button-success" icon="fa fa-check" (click)="save()" label="Salva"></button>
        </div>
        <div class="ui-g-6" *ngIf="!newFilm" align="center">
          <button type="submit" pButton class="ui-button-success" icon="fa fa-upload" (click)="save()" label="Aggiorna"></button>
        </div>
      </div>
    </p-footer>
  </form>
</p-dialog>

<p-confirmDialog #cd>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <div class="ui-g-3">
        <button type="button" pButton icon="pi pi-times" label="No" (click)="cd.reject()" align="right"></button>
      </div>
      <div class="ui-g-6"></div>
      <div class="ui-g-3">
        <button type="button" pButton icon="pi pi-check" label="Si" (click)="cd.accept()" align="left"></button>
      </div>
    </div>
  </p-footer>
</p-confirmDialog>
