<div align="center">
  <h1>HOME</h1>

  <h2>CIAO {{customerfirstName}} !</h2>

  <div class="ui-grid-col-4" style="padding-top: 3em;">
    <p-card title="Ricerca Serie TV" subtitle="Trova una Serie che ti piace!" [style]="{width: '385px'}" styleClass="ui-card-shadow">
      <p-header>
        <img src="Card" src="assets\showcase\images\HomePage\Card\CardRicercaSerieTV.jpg">
      </p-header>
      <div>Qui troverai un elenco di moltissime serie TV, dove potrai ricercare le tue preferite e avere tutte le
        informazioni che cerchi.</div>
      <p-footer>
          <button style="margin-top: 10px;" *ngIf="customerfirstName === 'Vincenzo'" pButton type="button" label="Gestisci Serie TV" icon="fa fa-cog" (click)="goToSerieTvOnAdminMode()" class="ui-button-danger"></button>
        <button pButton type="button" label="Cerca Serie TV" icon="fa fa-video-camera" (click)="goToSerieTv()"></button>
      </p-footer>
    </p-card>
  </div>
  <div class="ui-grid-col-4" style="padding-top: 3em;">
    <p-card title="Ricerca Film" subtitle="Trova un Film che ti piace!" [style]="{width: '385px'}" styleClass="ui-card-shadow">
      <p-header>
        <img src="Card" src="assets\showcase\images\HomePage\Card\CardRicercaFilm.jpg">
      </p-header>
      <div>Qui troverai un elenco di moltissimi film, dove potrai ricercare i tuoi preferiti e avere tutte le
        informazioni che cerchi.</div>
      <p-footer>
          <button style="margin-top: 10px;" *ngIf="customerfirstName === 'Vincenzo'" pButton type="button" label="Gestisci Film" icon="fa fa-cog" (click)="goToFilmsOnAdminMode()" class="ui-button-danger"></button>
        <button pButton type="button" label="Cerca Film" icon="fa fa-film" (click)="goToFilms()"></button>
      </p-footer>
    </p-card>
  </div>
  <div class="ui-grid-col-4" style="padding-top: 3em;">
    <p-card title="Fai una Richiesta" subtitle="Chiedi di aggiungere un Titolo!" [style]="{width: '385px'}" styleClass="ui-card-shadow">
      <p-header>
        <img src="Card" src="assets\showcase\images\HomePage\Card\CardRichieste.jpg">
      </p-header>
      <div style="padding-bottom: 24px;">Qui potrai chiedere tu stesso un film o una Serie TV che non sono presenti in
        lista.</div>
      <p-footer>
          <button style="margin-top: 10px;" *ngIf="customerfirstName === 'Vincenzo'" pButton type="button" label="Gestisci Richieste" icon="fa fa-cog" (click)="goToRicheisteOnAdminMode()" class="ui-button-danger"></button>
          <button style="margin-top: 10px;" *ngIf="customerfirstName === 'Vincenzo'" pButton type="button" label="Cerca Utenti" icon="fa fa-users" (click)="goToUtentiAdminMode()"></button>
        <button pButton type="button" label="Fai una Richiesta" icon="pi pi-plus" (click)="goToRicheiste()" *ngIf="customerfirstName !== 'Vincenzo'"></button>        
      </p-footer>
    </p-card>
  </div>

</div>
